
.pic {
    background: #253340 url('../../assets/12.jpg') no-repeat 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 700px;
}

.d{
    padding: 25px;
    margin: 25px;
    height: 430px;
    width: 40%;
    position: absolute;
    left: 350px;
    top: 90px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
}


.button {
    background-color: #784263;
    border: none;
    color: white;
    padding: 5px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 30px 10px;
    cursor: pointer;
    border-radius: 6px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}



