<div  class="pic">
  <div class="d">
    <div class="panel-title" style=" font-family: 'Comic Sans MS', cursive, sans-serif;font-size: 35px;font-weight: bold;text-align: center;  color: #784263;">Sign In</div>
    
    <br>
    <br>

    <label for="username" class="control-label" style=" color: #784263; font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: bold">Username</label>           
    <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username " [(ngModel)]="user.username" > 
    <br>

    <label for="password" class="control-label" style=" color: #784263;font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: bold" >Password</label>
    <input id="login-password" type="password" class="form-control" name="password" placeholder="password" [(ngModel)]="user.password">  
    <div>
    <a class="button"   (click)="signin()" [routerLink]="['/interest'+user.username]"> Sign In  </a>
    </div>

    <div  style="border-top: 1px solid#888; padding-top:15px; font-size:85% ; font-family: 'Comic Sans MS', cursive, sans-serif; color: #784263;" >
    Already registered?! 
    <a [routerLink]="['/signup']" > Click here to Sign up</a>
    </div>
    <br>
  </div>
</div>



