<button  type="button" class="btn btn-green  pull-left"  style="color: #000000; margin-left: 615px; margin-top: -35px" (click)="show()">Create New Challenge</button>


<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

    
      <div class="modal-header">
        <h4 class="modal-title pull-left">Create New Challenge</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" method="post" id="login-form" autocomplete="off">
            <div class="form-group">
                <label >Title</label>
                <input name="title" class="form-control" placeholder="Puzzle" [(ngModel)]="challenge.title">
            </div>
            <div class="form-group">
                <label >Description</label>
                <input name="description" class="form-control" placeholder="Is 0.999.. = 1?" [(ngModel)]="challenge.description">
            </div>
        </form>
      </div>
      <div class="modal-footer">
      	<input type="submit" id="btn-login" class="btn btn-green btn-lg btn-block"  value="Create" (click)="addChallenge()">
        <input type="submit" id="btn-login" class="btn btn-green btn-lg btn-block btn-danger" value="Cancel" (click)="hide()">
      </div>
      
    </div>
  </div>
</div>

