<div class="content">
    <div id="pad-wrapper">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Activities</strong></div>
                <div class="panel-body">
                    
                    <div class="ibox-content">
                     <div class="feed-activity-list">

                        <div class="feed-element" *ngFor='let post of posts'>
                            <a href="#" class="pull-left">
                                <img alt="image" class="img-circle" src="{{post.owner.image}}">
                            </a>
                            
                            <div class="media-body ">
                                <!-- <small class="pull-right text-navy">5m ago</small> -->
                                <strong>{{post.owner.username}}</strong> posted <strong>{{post.text}}</strong>.<br>
                                <small class="text-muted">{{post.created_at.time}} - {{post.created_at.date}}</small>
                                <img *ngIf="post.img" alt="image" class="feed-photo" src="{{post.img}}" />
                                
                                <div class="actions">
                                    <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                    <a class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> Love</a>
                                </div>
                            </div>
                        </div>

                    </div><!--feed-activity-list-->

                </div><!-- feed-activity-list -->
            </div><!--ibox-content -->
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<app-sidebar></app-sidebar>
<div class="clearfix"></div>
<footer id="footer"> 
    <div class="text-center clearfix">
        <br><br> 
        <a href="http://twitter.com" class="btn btn-xs btn-circle btn-twitter"><i class="fa fa-twitter"></i></a> 
        <a href="http://facebook.com" class="btn btn-xs btn-circle btn-facebook"><i class="fa fa-facebook"></i></a> 
        <a href="http://google.com" class="btn btn-xs btn-circle btn-gplus"><i class="fa fa-google-plus"></i></a> 
    </div> 
</footer>
</div>
