<div class="container">    
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
    <div class="panel panel-info" >
      <div class="panel-heading">
        <div class="panel-title">Choose your interests</div>
      </div>

      <div style="padding-top:30px" class="panel-body" >

        <div style="margin-bottom: 25px" class="input-group">
          <div *ngFor='let interest of interests'>
            <button type="button" class="btn btn-primary" (click)= "addInterest(interest.name)">{{interest.name}}</button>
          </div>                                 
        </div>

        <div style="margin-top:10px" class="form-group">
          <div class="col-sm-12 controls">
            <button type="button"  class="btn btn-success" (click)= "submit()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-4" *ngFor='let interest of interests'>
    <div class="single-creative-member fadeInUp animated">
      <div class="member-photo" > 
        <img src="http://bootdey.com/img/Content/avatar/avatar5.png">&nbsp;
        <div class="member-info">
          <span class="member-name" (click)= "addInterest(interest.name)">{{interest.name}}</span> 
        </div>
      </div>
    </div>
  </div>
</div>