
<div class="row">
  <div class="box box-widget widget-user-2">
    <div class="widget-user-header bg-purple">
      <div class="widget-user-image">
        <img class="img-circle" src="{{interest.icon}}" alt="Avatar">
      </div>
      <h3 class="widget-user-username"> {{title}} </h3>
      <app-create-challenge [interest_id]="interest._id" style="position: absolute;"></app-create-challenge>
    </div>
  </div>
</div>

<div  class="content" *ngFor='let challenge of interest.challenges'>
  <div class="col-md-3">
    <div class="well well-white mini-profile-widget">
      <div class="image-container"> 
        <img src="{{interest.icon}}" class="avatar img-responsive" alt="avatar">
      </div>
        <div class="details">
        <div><h4 [routerLink]="['/challenges/' + challenge._id]">{{challenge.title}}</h4></div>
          <hr>
          <div class="mg-top-10">{{challenge.posts.length}} Posts</div>
        </div>
    </div>
  </div>
</div>
 
<app-sidebar></app-sidebar>