.well {
  overflow: hidden;
  border-radius: 0;
  margin-bottom: 30px;
}

.mini-profile-widget .image-container .avatar {
  width: 180px;
  height: 180px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background: white;
  padding: 4px;
  border: 1px solid #dddddd;
}

.btn-blue {
  background-color: #3498db;
  border-color: #3498db;
  color: white;
}
.btn-blue:hover,
.btn-blue:visited {
  background-color: #2980b9;
  color: white;
}

.mini-profile-widget .details {
  text-align: center;
}

.content {
  background-color: #f5f6f8;
}

/*Top bar*/
.box-widget {
    border: none;
    position: relative;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-widget .widget-user-header {
    padding: 20px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.widget-user-username {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
    color:#fff;
}

.widget-user-image>img {
    width: 65px;
    height: auto;
    float: left;
}

.bg-purple {
    background-color: #784263 !important;
}
