<!-- <div id="ballMenuContainer">
<div id="menuBall1" class="menuBall">
  <a href="#" class="ball blueball">
    <div class="menuText">
        Profile
    </div>
  </a>
</div>

<div id="menuBall2" class="menuBall">
	<a href="#" class="ball redball">
    <div class="menuText">
        Login
    </div>
  </a>
</div>

<div id="menuBall3" class="menuBall">
	<a href="#" class="ball greenball">
    <div class="menuText">
        The Dairy
    </div>
  </a>
</div>

<div id="menuBall4" class="menuBall">
	<a href="#" class="ball yellowball">
    <div class="menuText">
        Email Us
    </div>
  </a>
</div>
</div>
 -->

<router-outlet></router-outlet>

