<button [@bar]="barState" (click)="toggleMenu()" class="hamburger">
  <span>toggle menu</span>
</button>

<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
  <ul class="nav navbar-nav" [@slideInOut]="menuState">
    <li class="active"><a [routerLink]="['/home']">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
    <li class="active"><a [routerLink]="['/users/' + userName]">Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
    <li ><a [routerLink]="['/create']">Create Challenge<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
    
    <ul class="nav navbar-nav" *ngFor='let obj of interests'>
      <li class="active"><a [routerLink]="['/interest/' + obj]">{{obj}}<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
    </ul>

    <li class="active"><a (click)="logOut()" [routerLink]="['/signin']">SignOut<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
  </ul>
</div>

<router-outlet></router-outlet>