<button [@bar]="barState" (click)="toggleMenu()" class="hamburger">
  <span>toggle menu</span>
</button>

<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
  <ul class="nav navbar-nav" [@slideInOut]="menuState">
    <li class="active"><a [routerLink]="['/home']">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
    <li ><a [routerLink]="['/create']">Create Challenge<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
    
    <ul class="nav navbar-nav" *ngFor='let obj of interests'>
      <li class="active"><a [routerLink]="['/interest/' + obj]">{{obj}}<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
    </ul>

    <li class="active"><a [routerLink]="['/signout']">SignOut<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
  </ul>
</div>

<router-outlet></router-outlet>


<!--     <ul class="dropdown" *ngFor='let obj of interests'>
      <li class="active"><a [routerLink]="['/interest', obj]">{{obj}}<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
    </ul> -->

<!--     <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Interests <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
      <ul class="dropdown-menu forAnimate" role="menu" *ngFor='let obj of interests'>
        <li><a [routerLink]="['/interest' + obj]">{{obj}}</a></li>
      </ul>
    </li>     -->      
