<!-- <div class="container"> -->
<div class="content" id="first">
    <div class="row activity">
        <div class="col-md-3"></div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <input  class="form-control" placeholder="Write a post..." [(ngModel)]="Post.text"(keyup.enter)="post(Post,pchallenge._id)">
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <label   class="btn btn-link"><input type="file" name="photo" style="display: none;" (change)="fileChange(input,Post)" #input required accept="image/*" ><i class="fa fa-camera" ></i></label>
                    </div>
                    
                    <div class="pull-right">
                        <button type="button" class="btn btn-success" (click) = "post(Post,pchallenge._id)" >post</button>
                    </div>  
                </div>
            </div>
            
            <div *ngFor='let post of pchallenge.posts'>
            
            <div class="panel panel-default" >
                <div class="panel-heading">
                  <a class="pull-left" *ngIf="post.owner.image">  
                    <img src="{{post.owner.image}}" class="img-rounded">
                    </a>

                    <a class="pull-left" *ngIf="! post.owner.image">  
                    <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" class="img-rounded">
                    </a>

                    <div class="pull-right text-right" >
                        <i class="fa fa-clock-o"></i>  {{post.created_at.date}} {{post.created_at.time}}
                    </div>
                    <div><strong>{{post.owner.username}}</strong></div>
                 
                </div>
                <div class="panel-body">
                    <!-- <img src="http://lorempixel.com/500/333/nature/2" class="img-responsive"> -->
                    
                      <div *ngIf=" post.img">
                          
                    <img src= "{{post.img}}" class="img-responsive">
                      </div>  
                    
                    <p>{{post.text}}</p>
                    <div class="actions">
                        <div class="btn-group">
                            <a class="tag tag-sm" (click)="like(post,post._id)">
                            <i class= "fa fa-thumbs-up"></i></a> 
                            <!-- dislike -->
                            <a class="tag tag-sm" (click)="dLike(post,post._id)">
                            <i class="fa fa-thumbs-down"></i>
                            </a>

                            <span class="tag tag-sm" ><i class="fa fa-heart text-danger"></i> {{post.likes}}</span>
                        </div>
                             
                    </div>  
                    comments:
                    <div class="media"  *ngFor='let comment of post.comments'>
                        <a class="pull-left" *ngIf="comment.owner.image">
                            <img class="media-object img-rounded" src="{{comment.owner.image}}">
                        </a>

                        <a class="pull-left" *ngIf=" ! comment.owner.image">
                            <img class="media-object img-rounded" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg">
                        </a>


                        <div class="media-body">
                            <div class="pull-right small">{{comment.created_at.date}} {{comment.created_at.time}}</div>
                            <h4 class="media-heading">{{comment.owner.username}}</h4>
                            <p>{{comment.text}}</p>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="panel-footer">
                    <input  class="form-control" placeholder="Write a comment..." [(ngModel)] = "post.txt" (keyup.enter)="Comment(post.txt,post._id)" >
                </div>
            </div>
            </div>        
        </div>
    </div>
</div>
