
<div  class="pic">
    <div class="d">
        <div class="panel-title" style=" font-family: 'Comic Sans MS', cursive, sans-serif;font-size: 35px;font-weight: bold;text-align: center;  color: #784263;">Sign Up</div>
        
        <br>
        <label for="E-mail" class="control-label" style=" color: #784263; font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: bold">E-mail</label>           
        <input id="login-email" type="email"  class="form-control" name="email" placeholder="email" [(ngModel)]="user.email">
        
        <br>
        <label for="username" class="control-label" style=" color: #784263; font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: bold" >Username</label>           
        <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username " [(ngModel)]="user.username" > 
       
        <br>
        <label for="password" class="control-label" style=" color: #784263; font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: bold">Password</label>           
        <input id="login-password" type="password" class="form-control" name="password" placeholder="password" [(ngModel)]="user.password">  

        <br>
        <label  class="control-label" style=" color: #784263; font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: bold">About you</label>           
        <input type="text" class="form-control" name="about_you" placeholder="Tell us about yourself" [(ngModel)]="user.about_you">  

        <br>
        <label  class="control-label" style=" color: #784263; font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: bold">Acheivements</label>           
        <input type="text" class="form-control" name="Acheivements" placeholder="Acheivements" [(ngModel)]="user.Acheivements">  

         <br>
        <label  class="control-label" style=" color: #784263; font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: bold">status</label>           
        <input type="text" class="form-control" name="status" placeholder="status" [(ngModel)]="user.status">  

        <div>
            <a class="button"   (click)="signup()" [routerLink]="['/interest']"> Sign up  </a>
        </div>

       
                <div  style="border-top: 1px solid#888; padding-top:15px; font-size:85% ; font-family: 'Comic Sans MS', cursive, sans-serif; color: #784263;" >
                    Already registered?! 
                <a [routerLink]="['/signin']" > Click here to Sign in</a>
            </div>
        <br>
    </div>
</div>




