<div class="container">
  <div class="row">
  <div  class="col-md-1" ></div>
    <div class="col-md-10">
      <div class="panel panel-white profile-widget">
        <div class="row"> 
          <div class="col-sm-12">
            <div class="image-container bg2"> 
              <img src="{{user.image}}" class="avatar" alt="avatar">
            </div>
          </div>
          <div class="col-sm-12">
            <div class="details" ><h4 class="txt" style="font-size: 40px ;font-weight: bold ">{{user.username}} <i class="fa fa-sheild"></i></h4>
              <div style="font-family: 'Comic Sans MS', cursive, sans-serif" >{{user.email}} </div>
              <div style="font-family: 'Comic Sans MS', cursive, sans-serif" >{{user.status}}</div>
     <br>
              <div class="mg-top-10"> 
                <button (click)="getPhoto()" type="submit" class="btn btn-purple"  style="font-family: 'Comic Sans MS', cursive, sans-serif" >Add</button>
                  <label class="btn btn-purple"  style="font-family: 'Comic Sans MS', cursive, sans-serif" > Browse&hellip; <input type="file" style="display: none;" (change)="fileChange(input)"  #input  required accept="image/*" >
                  </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-white border-top-purple">
            <div class="panel-heading"><h3 class="panel-title" class="txt" style="font-size: 20px;font-weight: bold">My Story</h3>
              <div class="controls pull-right">
                <span class="pull-right clickable"><i class="fa fa-chevron-up"></i> </span>
              </div>
            </div>
            <div class="panel-body">
              <div class="body-section">
                <h5 class="section-heading" style="font-family: 'Comic Sans MS', cursive, sans-serif" >About</h5>
                <p class="section-content" class="txt" >{{user.about_you}} </p>
              </div>
              <div class="body-section">
                <h5 class="section-heading" style="font-family: 'Comic Sans MS', cursive, sans-serif">status</h5>
                <p class="section-content" class="txt" >{{user.status}}</p>
              </div>
              <div class="body-section">
                <h5 class="section-heading" style="font-family: 'Comic Sans MS', cursive, sans-serif">Acheivements</h5>
                <p class="section-content" class="txt" >{{user.Acheivements}}</p>
              </div>
              <div class="body-section">
                <a class="btn btn-purple btn-md" style="font-family: 'Comic Sans MS', cursive, sans-serif" >Edit</a>
              </div>
            </div>
          </div>
          <app-interest-user></app-interest-user>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-white border-top-purple">
            <div class="panel-heading">
              <h3 class="panel-title" class="txt" style="font-size: 20px;font-weight: bold" >Social Statistics</h3>
              <div class="controls pull-right"> 
                <span class="pull-right clickable"> 
                <i class="fa fa-chevron-up"></i></span>
              </div>
            </div>
            <div class="panel-body">
              <div class="body-section">
                <h5 class="section-heading" style="font-family: 'Comic Sans MS', cursive, sans-serif">Friends</h5>
                <p class="section-content" class="txt">Soon</p>
              </div>
              <div class="body-section">
                <h5 class="section-heading" style="font-family: 'Comic Sans MS', cursive, sans-serif" >Posts</h5>
                <p class="section-content" class="txt" >2240</p>
              </div>
              <div class="body-section">
                <h5 class="section-heading" style="font-family: 'Comic Sans MS', cursive, sans-serif" >Score</h5>
                <p class="section-content" class="txt">18</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<app-sidebar></app-sidebar>
