<div >
  <div class="panel panel-white border-top-pink">
    <div class="panel-heading"><h3 class="panel-title">My Talent</h3>
      <div class="controls pull-right">
        <span class="pull-right clickable"> 
        <i class="fa fa-chevron-up"></i> 
        </span>
      </div>
    </div>
    <div class="panel-body">
      <div class="body-section">
        <br>
        <div *ngFor='let interest of interests'> 
          <button type="button" class="btn btn-danger btn-lg btn-block " [routerLink]="['/interest/' + interest]" >
          {{interest}} </button>  
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>


